/*******************************General page styles  */
* {
  box-sizing: border-box;
}

html {
  background: url("img/matt-botsford-OKLqGsCT8qs-unsplash.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hide {
  display: none;
}

.center {
  justify-content: center;
  text-align: center;
}

body {
  color: white;
}

h1, h2, h3, li {
  font-family: 'Julius Sans One', sans-serif;
}

p, label, button {
  font-family: 'Crimson Text', serif;
}

/*******************************Main header styles  */
#logo {
  border-right: solid white .15em;
  border-bottom: solid white .15em;
  padding: 0 .3em .1em 0;
}

header ul a {
  text-decoration: none;
  font-weight: bold;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fas{
  margin: .4em .5em 0 0;
}

header h1 {
  margin-left: .7em;
  font-size: 2.5em;
}

header ul li {
  list-style: none;
}

.height-transition {
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    overflow-y: hidden;            
}
.height-transition-hidden {            
    max-height: 0;            
}

header a {
  color: white;
}

#search-btn,
aside button,
#instructions-btn {
  background-color: #6aada6ea;
  color: white;
}

#search-btn:hover,
#instructions-btn:hover {
  background-color: #58cabd;
}

input,
#search-btn,
aside button {
  border-radius: 5px;
}

form input {
  margin-bottom: .5em;
}

.landing-instructions,
aside .group {
  border: solid white 3px;
  border-radius: 5px;
  padding: .5em .5em;
  margin: .5em .3em;
  background-color: #6aada6ea;
}

/*******************************Main content styles  */
.podcast-iframe {
  width: 30%;
  height: 40%;
}

.episode-container {
  border: solid white 3px;
  border-radius: 5px;
  padding: .5em .5em;
  margin: .5em .3em;
  background-color: #6aada6ea;
}

.episode-container li {
  list-style-type: none;
}

.results-list {
  padding-left: 0;
}

/******************************* Contact form styles  */
fieldset{
 border: 0;
}



/******************************* Media queries styles  */
@media all and (min-width: 500px) {
  .episode-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .flex-item {
    width: 45%;
  }
}